/build

# Android build artifacts
app/src/main/assets/
!app/src/main/assets/.keep

# CMake/Android Studio build folders
app/.cxx/
app/build/
app/.gradle/

# Gradle wrapper
.gradle/

app/src/main/assets/
